* {
    margin: 0;
    padding: 15px;
}

.header {
    width: 100%;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color: white;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    margin-right: auto;
}

.header--project {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
}

.form {
    text-align: center;
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px
}

.form--input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--submit {
    grid-column: 1 / -1;
    height: 40px;
    padding-top: 6px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20.7482px;
    line-height: 24px;
    border-radius: 9px;
    border: none;
}

.form--randomImage {
    text-align: center;
    width: 100%;
}