    * {
        margin: 0;
        padding: 0;
    }
    
    .navbar {
        height: 50px;
    }
    
    .navbar--options {
        display: flex;
        list-style: none;
        justify-content: space-around;
        font-size: 10px;
    }
    
    .navbar--option {
        margin-top: 15px;
    }
    
    .main {
        height: 400px;
        text-align: center;
    }
    
    .footer {
        text-align: center;
        /* background-color: rgb(57, 47, 47); */
        /* color: white; */
    }
    /* Light / Dark */
    
    .light-theme {
        background-color: #cfcfcf;
        color: #000;
    }
    
    .dark-theme {
        background-color: #3a3b3c;
        color: #fff;
    }
    
    .nav-theme {
        background-color: rgb(152, 196, 237);
        color: black
    }
    
    .navDark-theme {
        background-color: black;
        color: white;
    }
    
    .mainDark-theme {
        background-color: rgb(30, 30, 30);
        color: rgb(210, 74, 12);
    }
    
    .footer-theme {
        background-color: #ebebeb;
        color: black
    }
    
    .footerDark-theme {
        background-color: rgb(74, 73, 73);
        color: white;
    }