* {
    margin: 0;
    padding: 10px;
}

.diceBox {
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 0px 5px 10px;
    width: 250px;
    height: 250px;
}

.diceBox--randomNumber {
    text-align: center;
    margin-top: 90px;
}

.rollBtn {
    margin-top: 20px;
    margin-left: 110px;
}

.Btn {
    border-radius: 5px;
}

.Btn:hover {
    background-color: black;
    color: white;
}