#header {
    background-color: firebrick;
}

#header> :nth-child(1) {
    color: white;
    border: 5px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* main w/ images */

.goomba {
    color: white;
    border: 5px solid black;
    text-align: center;
}

.goomba>h1 {
    color: black;
}

.goomba>img {
    height: 270px;
    width: 250px;
    border: 5px firebrick solid;
}

.bomb {
    color: white;
    border: 5px solid black;
    text-align: center;
}

.bomb>h1 {
    color: black;
}

.bomb>img {
    height: 270px;
    width: 250px;
    border: 5px firebrick solid;
    margin-top: 5px;
    margin-left: 5px;
}

.cheep {
    color: white;
    border: 5px solid black;
    text-align: center;
}

.cheep>h1 {
    color: black;
}

.cheep>img {
    height: 270px;
    width: 250px;
    border: 5px firebrick solid;
    margin-top: 5px;
    margin-left: 5px;
}


/* div {
    text-align: center;
} */

button {
    margin-top: 10px;
    border: 3px black solid;
}

button:hover {
    background-color: firebrick;
}


/*  span / inputs /decoration*/

span {
    color: gold
}

input {
    border: 3px solid black;
    margin-bottom: 10px;
}

ul {
    list-style: none;
}


/* Footer */

#footer {
    background-color: firebrick;
}

#footer> :nth-child(1) {
    color: white;
    border: 5px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


/* #all {
    display: flex;
} */

.total-baddies {
    border: 5px black solid;
    width: 50%;
    height: 100px;
    display: inline-block;
}

.total-cost {
    border: 5px black solid;
    width: 50%;
    height: 100px;
    display: block;
}